### Java template
# Compiled class file
.class


# output folders
out/
JavaDoc/

# Jar Building Artifacts
src/META-INF

# IDE STUFF
# ------------------------------------

# hibernate.cfg
hibernate.cfg.xml

# IntelliJ IDE
.idea/
*.iml

# Eclipse
.project
.classpath
.settings

# Visual Studio Code
.vscode/

/bin/
